html, body {
  margin-top: 0;
  padding: 0;
   background-color: rgb(255, 204, 0);
  display: flex;
  /* This centers our sketch horizontally. */
  justify-content: center;
  /* This centers our sketch vertically. */
  align-items: center;  
   
}
canvas {
  display: block;
}


.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%; 
  color: white;
  text-align: center;
}

a {
  text-decoration: underline;
  color: white;
}